# Loki
LOKI_PORT=3100
LOKI_RETENTION_PERIOD=720h

# Promtail
PROMTAIL_PORT=9080

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=<your-grafana-password>
GRAFANA_PORT=3008

# Portal
PORTAL_PORT=3007
