# Uptime Kuma
UPTIME_KUMA_PORT=3010

# Health Portal
PORTAL_PORT=3009
UPTIME_KUMA_URL=http://uptime-kuma:3001

# Server URLs
KAFKA_PORTAL_URL=http://host.docker.internal:3001
REDIS_PORTAL_URL=http://host.docker.internal:3002
MINIO_PORTAL_URL=http://host.docker.internal:3004
GATEWAY_PORTAL_URL=http://host.docker.internal:3006
LOGGING_PORTAL_URL=http://host.docker.internal:3007
